<div class="nav">
  <ul class="nav-ul">
    <a href="/" class="nav-a">
      <li>Home</li>
    </a>
    <a href="/posts" class="nav-a">
      <li>Posts</li>
    </a>
    <a href="/add-post" class="nav-a">
      <li>Add post</li>
    </a>
    <a href="/contacts" class="nav-a">
      <li>Contacts</li>
    </a>
  </ul>
</div>